body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

footer div {
    flex: 1;
    margin-right: 20px;
}

footer h3 {
    color: #555;
}

div.footer-bottom {
    margin-top: auto;
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}