body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

footer div {
    flex-basis: 30%; /* aanpassen aan de gewenste breedte */
    margin-bottom: 20px;
}

footer h3 {
    color: #555;
}

div.footer-bottom {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}