.robj
{
    width: 1000px;
    padding-left: 700px;
    border-top: 250px;
}
.naam1
{
    padding-left: 700px;
}
.naam2
{
    float: right ;
    padding-top: 400px;    
}
.sigridk
{
    float: right;
    padding-right: 500px;
}
.teamleden
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0e3ce;
}
.pagetitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-left: 1100px;
    padding-top: 100px;
}