.robj
{
    height: 300px;
    padding-left: 300px;
    padding-top: 250px;
}
.arrow1
{
    padding-bottom: 150px;
    height: 50px;
}
.robinfo
{
    background-color: #ffd700;
    
}
.teamleden
{
    background-color: #f0e3ce;
}
.pagetitle
{
    font-size: xx-large;
    padding-left: 600px;
    padding-top: 150px;
}